//imports mixins and variables to this scss file
@import 'variables';
@import 'mixins';
@include gradient;

/* Styles the body */
body {
    @include back;
}

/* Styles the horizontal line */
hr {
    height: 5px;
    border-width: 0;
    background-color: #E99AAF;
}


/* Styles the h3 header */
h3 {
    text-align: center;
}



@media screen and (min-width: 1000px) {

    /* Styles the grid items*/
    .container>div {
        @include gridstyle;

    }

    /*styles the grid container */
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;

        /* specifies styling for every div element that is even in order
    to make the zig zag pattern*/
        div:nth-of-type(even) {
            grid-column: 2;
            grid-gap: 10px;

        }
    }

    /* specific grid styling */
    .grid-1 {
        grid-row: 1;
        margin-right: 10px;

    }

    /* These attach a hero image to the grid */
    .grid-2 {
        grid-row: 2;
        background-image: url("images/IMG_5149.jpeg");
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 10px;
    }

    .grid-3 {
        grid-row: 3;
        margin-right: 10px;
        @include highlight;
    }

    .grid-4 {
        grid-row: 4;
        margin-left: 10px;

    }

    .grid-5 {
        grid-row: 5;
        margin-right: 10px;

    }

    .grid-6 {
        grid-row: 6;
        margin-left: 10px;

    }

    .grid-7 {
        grid-row: 7;
        background-image: url("Images/IMG_6751.jpeg");
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 10px;

    }

    .grid-8 {
        grid-row: 8;
        margin-left: 20px;

    }

    .grid-9 {
        grid-row: 9;
        margin-right: 10px;

    }

    .grid-10 {
        grid-row: 10;
        background-image: url("Images/IMG_5411.jpg");
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 10px;

    }

    .grid-11 {
        grid-row: 11;
        margin-right: 10px;

    }

    .grid-12 {
        grid-row: 12;
        margin-left: 10px;
        @include highlight;

    }

    .grid-13 {
        grid-row: 13;
        margin-right: 10px;

    }

    .grid-14 {
        grid-row: 14;
        margin-left: 10px;
        @include highlight;

    }

    .grid-15 {
        grid-row: 15;
        margin-right: 10px;

    }

    .grid-16 {
        grid-row: 16;
        align-content: center;
        margin-left: 10px;

    }

    .grid-17 {
        grid-row: 17;
        margin-right: 10px;

    }

    .grid-18 {
        grid-row: 18;
        align-content: center;
        margin-left: 10px;

    }

    .text {
        color: white;
        margin-top: 180px;
        font-size: 30px;
    }

    img {
        display: block;
        margin-left: auto;
        margin-right: auto;


    }

    /*styles the image so that it fits snug in the grid item.*/
    .pls {
        width: 100%;

    }

    /* Styles the h1 header */
    h1 {
        text-align: center;
        padding: 10px;
    }

    /* Styles the h2 header */
    h2 {
        text-align: center;
    }


    /* Calls upon the mixin that styles the shadowed background of the text */
    .shade1 {
        @include shad(3rem);
    }

    .shade2 {
        @include shad(2rem, true);
    }

    .shade3 {
        @include shad(1rem, false);
    }


    /* Styles the vertical line */
    .deux {
        border-left: 5px solid #E99AAF;
        outline: none;
        height: 496em;
        position: absolute;
        left: 50%;
        margin-left: -3px;
        margin-top: 260px;
        top: 0;
    }

}


/*styling for ipad screen size */
@media screen and (max-width: 999px) and (min-width: 501px) {

    /* Styles the h1 header */
    h1 {
        text-align: center;
        padding: 10px;
    }

    .text {
        color: white;
        margin-top: 180px;
        font-size: 30px;
    }


    /* Styles the h2 header */
    h2 {
        text-align: center;
    }

    /*styles the image */
    img {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
    }


    /* Styles the vertical line */
    .deux {
        border-left: 5px solid #E99AAF;
        outline: none;
        height: 430em;
        position: absolute;
        margin-left: -3px;
        margin-top: 186px;
        top: 0;
    }

    /* styles the paragraph */
    p {
        padding: 10px;
    }


    /* grid-# are used for grid styling */
    .grid-1 {
        grid-row: 1;
        max-width: 40rem;
        margin-left: 20px;
    }

    /* These attach a hero image to the grid */
    .grid-2 {
        grid-row: 2;
        background-image: url("images/IMG_5149.jpeg");
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 10px;
        max-width: 40rem;
        margin-left: 20px;
    }

    .grid-3 {
        grid-row: 3;
        margin-right: 10px;
        @include highlight;
        max-width: 40rem;
        margin-left: 20px;
        max-width: 40rem;
        margin-left: 20px;
    }

    .grid-4 {
        grid-row: 4;
        margin-left: 10px;
        max-width: 40rem;
        margin-left: 20px;

    }

    .grid-5 {
        grid-row: 5;
        margin-right: 10px;
        max-width: 40rem;
        margin-left: 20px;

    }

    .grid-6 {
        grid-row: 6;
        margin-left: 10px;
        max-width: 40rem;
        margin-left: 20px;

    }

    .grid-7 {
        grid-row: 7;
        background-image: url("Images/IMG_6751.jpeg");
        height: 500px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-right: 10px;
        max-width: 40rem;
        margin-left: 20px;

    }

    .grid-8 {
        grid-row: 8;
        margin-left: 20px;
        max-width: 40rem;
        margin-left: 20px;

    }

    .grid-9 {
        grid-row: 9;
        margin-right: 10px;
        max-width: 40rem;
        margin-left: 20px;

    }

    .grid-10 {
        grid-row: 10;
        background-image: url("Images/IMG_5411.jpg");
        height: 470px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-left: 10px;
        max-width: 40rem;
        margin-left: 20px;

    }

    .grid-11 {
        grid-row: 11;
        margin-right: 10px;
        max-width: 40rem;
        margin-left: 20px;

    }

    .grid-12 {
        grid-row: 12;
        margin-left: 10px;
        @include highlight;
        max-width: 40rem;
        margin-left: 20px;

    }

    .grid-13 {
        grid-row: 13;
        margin-right: 10px;
        max-width: 40rem;
        margin-left: 20px;

    }

    .grid-14 {
        grid-row: 14;
        margin-left: 10px;
        @include highlight;
        max-width: 40rem;
        margin-left: 20px;

    }

    .grid-15 {
        grid-row: 15;
        margin-right: 10px;
        max-width: 40rem;
        margin-left: 20px;

    }

    .grid-16 {
        grid-row: 16;
        align-content: center;
        margin-left: 10px;
        max-width: 40rem;
        margin-left: 20px;

    }

    .grid-17 {
        grid-row: 17;
        margin-right: 10px;
        max-width: 40rem;
        margin-left: 20px;

    }

    .grid-18 {
        grid-row: 18;
        align-content: center;
        margin-left: 10px;
        max-width: 40rem;
        margin-left: 20px;

    }


}

/* styling for small sized screen */
@media screen and (max-width: 500px) {

    /*styles the image */
    img {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
    }

    /* Styles the h1 header */
    h1 {
        text-align: center;
        padding: 10px;
    }

    /* Styles the h2 header */
    h2 {
        text-align: center;
    }

    /* styles the paragraph */
    p {
        padding: 10px;
    }


}