/* creating a mixin that will lighten the color of each griditem in ascending order*/
@mixin gradient {
    @for $i from 1 through 18 {
        .grid-#{$i} {
            background-color: lighten($base-color, $i * 2%);
        }
    }
}

/* creating a mixin that styles the color and position of the grid */
@mixin gridstyle {
    border: 2px solid rgba(233, 170, 88, 0);
    border-radius: $b-radius;
    padding: 1em;
    color: white;
    grid-gap: 10px;

}

/* mixin for for the background colour */
@mixin back {
    background-color: $back-colour;
}

/* mixin for for the sub titles */
@mixin highlight {
    background-color: $sub;
}

/* conditional mixin to determine the text shadow */
@mixin shad($font-size, $no:null) {
    font-size: $font-size;

    @if $no==null {
        text-shadow: 2px 2px #FF605D;
    }

    @else if $no==true {
        text-shadow: 5px 5px 5px #9198FA;
    }

    @else {
        text-shadow: 5px 5px 10px #FFF7AE;

    }
}